


/* 
 * whites
 */

.beige { background-color: beige; }
.honeydew { background-color: honeydew; }
.lavenderblush { background-color: lavenderblush; }
.azure { background-color: azure; }

/*
 * browns
 */
.sandybrown { background-color: sandybrown;} 
.goldenrod { background-color: goldenrod;} 
.rosybrown { background-color: rosybrown;} 
.olive { background-color: olive;} 
.maroon { background-color: maroon;} 
/*
.body { }
.ear_L,.ear_R { }
.eye_L,.eye_R { }
.pupil { }
.beak { }
.leg_L,.leg_R { }
.wing_L, .wing_R { }
.foot_L, .foot_R { }
*/