body {
    margin-left: 1em;
	padding-top: 250px;
    background-image: url("https://static.pexels.com/photos/24061/pexels-photo.jpg");
	text-align: center;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

#results {
    margin-top: 2em;
    margin-left: 1em;
	height: 100px;
}


